.DS_Store
.env
.idea/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/raw/*
data/processed/*
reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!reports/.gitkeep

*.egg-info/
dist/
build/
